<div class="container crypt show" >

  <% for x in @show_crypto %>
    <% if @crypto.symbol.upcase == x["symbol"] %>
      <% crypto_name =  x["name"] %>
      <% crypto_price = x["price_usd"] %>
      <% crypto_rank =  x["rank"] %>
    <% end %>
  <% end %>

  <h2 class="crypt name"><%= crypto_name %></h2>
  
  <p>
  <strong><%= @crypto.symbol.upcase %></strong>
  </p>

  <p>
  <strong>Current Price:</strong> <%= number_to_currency(crypto_price) %>
  </p>

  <p>
  <strong>Rank: </strong> <%= crypto_rank %>
  </p>

  <p>
    <strong>Cost per:</strong>
    <%= @crypto.cost_per %>
  </p>

  <